flujos/01-primer-webhook.json
{
  "name": "01 - Mi Primer Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "primer-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Recibir Peticion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "primer-webhook-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "saludo",
              "value": "={{ 'Hola, ' + $json.body.nombre + '! Bienvenido al taller de n8n.' }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "nombre_recibido",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "timestamp",
              "value": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "longitud_nombre",
              "value": "={{ $json.body.nombre.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Construir Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Responder al Cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Recibir Peticion": {
      "main": [
        [
          {
            "node": "Construir Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Respuesta": {
      "main": [
        [
          {
            "node": "Responder al Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "primer-webhook-v1",
  "meta": {
    "templateId": "taller-n8n-01",
    "instanceId": "taller-n8n"
  },
  "id": "taller-flujo-01",
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "tag-taller",
      "name": "taller"
    }
  ]
}
