flujos/02-generar-informe.json
{
  "name": "02 - Generar Informe HTML desde Encuesta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "generar-informe",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d4e5f6a7-0004-0001-0001-000000000001",
      "name": "Trigger: Generar Informe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "generar-informe-001"
    },
    {
      "parameters": {
        "resource": "tableRecord",
        "operation": "getAll",
        "tableId": {
          "__rl": true,
          "value": "respuestas_taller",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "d4e5f6a7-0004-0001-0001-000000000002",
      "name": "Leer Respuestas de la Tabla",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "n8nApi": {
          "id": "CREDENCIAL_N8N_API",
          "name": "n8n API local"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "respuestas",
        "options": {}
      },
      "id": "d4e5f6a7-0004-0001-0001-000000000003",
      "name": "Agregar Todas las Respuestas",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formatea todas las respuestas en un texto para enviar a OpenAI\nconst respuestas = items[0].json.respuestas;\nconst total = respuestas.length;\n\nif (total === 0) {\n  return [{ json: { texto_para_ia: 'No hay respuestas todavia.', total: 0 } }];\n}\n\n// Construir resumen de opciones para el analisis\nconst sectores = {};\nconst roles = {};\nconst experiencias = {};\nconst procesos = [];\n\nrespuestas.forEach(r => {\n  sectores[r.sector] = (sectores[r.sector] || 0) + 1;\n  roles[r.rol] = (roles[r.rol] || 0) + 1;\n  experiencias[r.experiencia_ia] = (experiencias[r.experiencia_ia] || 0) + 1;\n  if (r.proceso_a_automatizar && r.proceso_a_automatizar !== 'No especificado') {\n    procesos.push(`- ${r.nombre} (${r.rol}): \"${r.proceso_a_automatizar}\"`);\n  }\n});\n\nconst formatearConteos = (obj) => \n  Object.entries(obj)\n    .sort((a, b) => b[1] - a[1])\n    .map(([k, v]) => `  - ${k}: ${v} persona(s)`)\n    .join('\\n');\n\nconst textoParaIA = `\nENCUESTA DEL TALLER DE IA Y N8N\nTotal de participantes: ${total}\n\nSECTORES REPRESENTADOS:\n${formatearConteos(sectores)}\n\nROLES:\n${formatearConteos(roles)}\n\nEXPERIENCIA CON IA:\n${formatearConteos(experiencias)}\n\nPROCESOS QUE LES GUSTARIA AUTOMATIZAR:\n${procesos.length > 0 ? procesos.join('\\n') : '  (nadie respondio esta pregunta)'}\n`;\n\nreturn [{ json: { texto_para_ia: textoParaIA, total } }];"
      },
      "id": "d4e5f6a7-0004-0001-0001-000000000004",
      "name": "Formatear para OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un analista de datos experto. Tu tarea es analizar los resultados de una encuesta de un taller y generar un informe ejecutivo claro, interesante y util para el ponente. El informe debe:\n1. Destacar los hallazgos mas relevantes\n2. Identificar patrones en los perfiles de los asistentes\n3. Analizar los procesos que quieren automatizar y agruparlos por tipo\n4. Dar 2-3 recomendaciones sobre en que hacer enfasis durante el taller basandote en el perfil del grupo\n5. Ser conciso pero completo (maximo 400 palabras)\nResponde en espanol. Usa un tono profesional pero accesible.",
              "role": "system"
            },
            {
              "content": "={{ $json.texto_para_ia }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokens": 800,
          "temperature": 0.5
        }
      },
      "id": "d4e5f6a7-0004-0001-0001-000000000005",
      "name": "OpenAI: Analizar Respuestas",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1120, 300],
      "credentials": {
        "openAiApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "OpenAI - Taller"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h001",
              "name": "html_informe",
              "value": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Informe del Taller</title>\n  <style>\n    body { font-family: 'Segoe UI', sans-serif; max-width: 800px; margin: 40px auto; padding: 20px; color: #1a1a2e; }\n    h1 { color: #e94560; border-bottom: 3px solid #e94560; padding-bottom: 10px; }\n    h2 { color: #0f3460; margin-top: 30px; }\n    .stats { display: flex; gap: 20px; margin: 20px 0; }\n    .stat-box { background: #f0f4ff; border-left: 4px solid #e94560; padding: 15px 20px; border-radius: 6px; flex: 1; }\n    .stat-box .numero { font-size: 36px; font-weight: bold; color: #e94560; }\n    .stat-box .label { color: #666; font-size: 14px; }\n    .analisis { background: #fafafa; border: 1px solid #eee; padding: 20px; border-radius: 8px; line-height: 1.7; white-space: pre-wrap; }\n    .footer { margin-top: 40px; color: #aaa; font-size: 13px; text-align: center; }\n    .badge { display: inline-block; background: #e94560; color: white; padding: 3px 10px; border-radius: 12px; font-size: 13px; margin: 2px; }\n  </style>\n</head>\n<body>\n  <h1>Informe del Taller — Generado en tiempo real por n8n + IA</h1>\n  <div class=\"stats\">\n    <div class=\"stat-box\">\n      <div class=\"numero\">{{ $('Formatear para OpenAI').item.json.total }}</div>\n      <div class=\"label\">Participantes</div>\n    </div>\n    <div class=\"stat-box\">\n      <div class=\"numero\">{{ $now.format('HH:mm') }}</div>\n      <div class=\"label\">Hora de generacion</div>\n    </div>\n    <div class=\"stat-box\">\n      <div class=\"numero\">{{ $now.format('DD/MM/YYYY') }}</div>\n      <div class=\"label\">Fecha</div>\n    </div>\n  </div>\n  <h2>Analisis de la IA</h2>\n  <div class=\"analisis\">{{ $json.message.content }}</div>\n  <div class=\"footer\">Este informe fue generado automaticamente por n8n + OpenAI GPT-4o-mini &bull; Taller de Automatizacion con IA</div>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-0004-0001-0001-000000000006",
      "name": "Construir HTML del Informe",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_informe }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "d4e5f6a7-0004-0001-0001-000000000007",
      "name": "Servir Informe HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Trigger: Generar Informe": {
      "main": [[{ "node": "Leer Respuestas de la Tabla", "type": "main", "index": 0 }]]
    },
    "Leer Respuestas de la Tabla": {
      "main": [[{ "node": "Agregar Todas las Respuestas", "type": "main", "index": 0 }]]
    },
    "Agregar Todas las Respuestas": {
      "main": [[{ "node": "Formatear para OpenAI", "type": "main", "index": 0 }]]
    },
    "Formatear para OpenAI": {
      "main": [[{ "node": "OpenAI: Analizar Respuestas", "type": "main", "index": 0 }]]
    },
    "OpenAI: Analizar Respuestas": {
      "main": [[{ "node": "Construir HTML del Informe", "type": "main", "index": 0 }]]
    },
    "Construir HTML del Informe": {
      "main": [[{ "node": "Servir Informe HTML", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "informe-v1",
  "meta": {
    "templateId": "taller-n8n-informe",
    "notes": "Abrir en el navegador: https://TU-N8N/webhook/generar-informe — El flujo lee todas las filas de la tabla n8n 'respuestas_taller', las analiza con OpenAI y devuelve una pagina HTML lista para proyectar."
  },
  "id": "taller-flujo-informe",
  "tags": [{ "id": "tag-taller", "name": "taller" }]
}
