flujos/02-webhook-con-ia.json
{
  "name": "02 - Webhook con IA (OpenAI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "preguntar-ia",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Recibir Pregunta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "preguntar-ia-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "pregunta",
              "value": "={{ $json.body.pregunta }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "usuario",
              "value": "={{ $json.body.usuario || 'Anonimo' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un asistente util y amable. Responde siempre en espanol, de forma clara y concisa. Si no sabes algo, dilo honestamente.",
              "role": "system"
            },
            {
              "content": "={{ $json.pregunta }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Preguntar a ChatGPT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "OpenAI - Taller"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "respuesta",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "usuario",
              "value": "={{ $('Extraer Datos').item.json.usuario }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "pregunta_original",
              "value": "={{ $('Extraer Datos').item.json.pregunta }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "tokens_usados",
              "value": "={{ $json.usage.total_tokens }}",
              "type": "number"
            },
            {
              "id": "field-005",
              "name": "timestamp",
              "value": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Devolver Respuesta IA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Recibir Pregunta": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Preguntar a ChatGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preguntar a ChatGPT": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Devolver Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "webhook-ia-v1",
  "meta": {
    "templateId": "taller-n8n-02",
    "instanceId": "taller-n8n"
  },
  "id": "taller-flujo-02",
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "tag-taller",
      "name": "taller"
    }
  ]
}
