flujos/03-agente-wikipedia.json
{
  "name": "03 - Agente IA con Wikipedia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-wiki",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000001",
      "name": "Recibir Pregunta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "agente-wiki-001"
    },
    {
      "parameters": {
        "text": "={{ $json.body.pregunta }}",
        "options": {
          "systemMessage": "Eres un asistente util e inteligente. Respondes siempre en espanol, de forma clara y concisa. Cuando necesitas informacion factual sobre personas, lugares, eventos o conceptos, usas la herramienta de Wikipedia para buscarla. No inventes datos — si no lo sabes, busca en Wikipedia o di que no tienes esa informacion.",
          "maxIterations": 5
        }
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000002",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        }
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000003",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [400, 520],
      "credentials": {
        "openAiApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "OpenAI - Taller"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Recibir Pregunta').item.json.body.sesion_id || 'default' }}",
        "contextWindowLength": 10
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000004",
      "name": "Memoria de Conversacion",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 520]
    },
    {
      "parameters": {
        "topK": 3
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000005",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [720, 520]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r001",
              "name": "respuesta",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "r002",
              "name": "sesion_id",
              "value": "={{ $('Recibir Pregunta').item.json.body.sesion_id || 'default' }}",
              "type": "string"
            },
            {
              "id": "r003",
              "name": "pregunta_original",
              "value": "={{ $('Recibir Pregunta').item.json.body.pregunta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000006",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000007",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 300]
    }
  ],
  "connections": {
    "Recibir Pregunta": {
      "main": [[{ "node": "Agente IA", "type": "main", "index": 0 }]]
    },
    "Agente IA": {
      "main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Agente IA", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memoria de Conversacion": {
      "ai_memory": [[{ "node": "Agente IA", "type": "ai_memory", "index": 0 }]]
    },
    "Wikipedia": {
      "ai_tool": [[{ "node": "Agente IA", "type": "ai_tool", "index": 0 }]]
    },
    "Formatear Respuesta": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "agente-wiki-v1",
  "meta": {
    "templateId": "taller-n8n-agente",
    "notes": "El AI Agent tiene 3 sub-nodos conectados por debajo: OpenAI Chat Model (ai_languageModel), Memoria de Conversacion (ai_memory) y Wikipedia (ai_tool). En el canvas de n8n estos aparecen como nodos debajo del Agent conectados con lineas punteadas."
  },
  "id": "taller-flujo-agente",
  "tags": [{ "id": "tag-taller", "name": "taller" }]
}
