web/02-generar-informe.json
{
  "name": "02 - Generar Informe HTML desde Encuesta",
  "nodes": [
    {
      "parameters": {
        "path": "generar-informe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa1a9a89-4a98-4701-86e6-5d92ac920930",
      "name": "Trigger: Generar Informe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ],
      "webhookId": "generar-informe-001"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZOWnwkFtaofz8fUN",
          "mode": "list",
          "cachedResultName": "respuestas_taller",
          "cachedResultUrl": "/projects/sgB1GWGyptbkdYb2/datatables/ZOWnwkFtaofz8fUN"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -240,
        0
      ],
      "id": "023487b5-c98e-4dbf-a2eb-19e3ce71bcd0",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "respuestas",
        "options": {}
      },
      "id": "3a1947ab-466d-48cb-a071-7ac8dee5125f",
      "name": "Agregar Todas las Respuestas",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const respuestas = items[0].json.respuestas;\nconst total = respuestas.length;\n\nif (total === 0) {\n  return [{ json: { texto_para_ia: 'No hay respuestas todavia.', total: 0 } }];\n}\n\nconst sectores = {};\nconst roles = {};\nconst experiencias = {};\nconst procesos = [];\n\nrespuestas.forEach(r => {\n  sectores[r.sector] = (sectores[r.sector] || 0) + 1;\n  roles[r.rol] = (roles[r.rol] || 0) + 1;\n  experiencias[r.experiencia_ia] = (experiencias[r.experiencia_ia] || 0) + 1;\n  if (r.proceso_a_automatizar && r.proceso_a_automatizar !== 'No especificado') {\n    procesos.push(`- ${r.nombre} (${r.rol}): \"${r.proceso_a_automatizar}\"`);\n  }\n});\n\nconst formatearConteos = (obj) =>\n  Object.entries(obj)\n    .sort((a, b) => b[1] - a[1])\n    .map(([k, v]) => `  - ${k}: ${v}`)\n    .join('\\n');\n\nconst textoParaIA = `Analiza los resultados de esta encuesta previa a un taller de automatización con IA y n8n. Redacta un informe ejecutivo en español con este formato exacto y este orden:\n\n**Perfil del grupo**\nDescribe quiénes son los asistentes en 3-4 frases. Incluye datos concretos: distribución por sectores, roles predominantes y nivel de experiencia con IA. Usa expresiones del tipo \"X de cada Y\" o porcentajes cuando sea posible. Señala si hay diversidad o si el grupo es homogéneo y qué implica eso para el taller.\n\n**Procesos que quieren automatizar**\nLista los procesos mencionados, agrupados por similitud si los hay. Para cada proceso o grupo indica brevemente el potencial de automatización. Si nadie respondió, indícalo en una línea y sugiere qué preguntar durante el taller.\n\n**Puntos clave para adaptar el taller**\n- 3 recomendaciones concretas y accionables basadas en los datos del grupo\n- Qué ejemplos o casos de uso resonarán más con este perfil\n- Qué nivel técnico asumir en las explicaciones\n\nUsa **negrita** para resaltar conceptos clave y datos importantes. Sé directo, preciso y evita frases genéricas como \"es importante destacar\" o \"cabe mencionar\". Máximo 320 palabras.\n\nDATOS DE LA ENCUESTA:\nParticipantes: ${total}\n\nSectores:\n${formatearConteos(sectores)}\n\nRoles:\n${formatearConteos(roles)}\n\nExperiencia con IA:\n${formatearConteos(experiencias)}\n\nProcesos a automatizar:\n${procesos.length > 0 ? procesos.join('\\n') : '  (ninguno especificado)'}\n`;\n\nreturn [{ json: { texto_para_ia: textoParaIA, total } }];"
      },
      "id": "ddb74971-caf2-4fde-a8eb-cee95d92a51c",
      "name": "Formatear para OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto_para_ia }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        368,
        0
      ],
      "id": "769d968b-77a5-4e41-a3a6-83a1bf4de531",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        272
      ],
      "id": "5f27c51c-6496-4696-8f66-4433f4aaaf31",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kVqAzWbBaqS3z3Cy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h001",
              "name": "html_informe",
              "value": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Informe encuesta — Taller Gako AI</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body { font-family: 'Segoe UI', system-ui, sans-serif; background: #f4f6fb; color: #1a1a2e; }\n    .wrapper { max-width: 820px; margin: 0 auto; padding: 36px 24px 64px; }\n    .header { display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 32px; padding-bottom: 20px; border-bottom: 1px solid #e5e7eb; }\n    .header-left h1 { font-size: 20px; font-weight: 800; color: #1a1a2e; line-height: 1.3; }\n    .header-left .subtitle { font-size: 13px; color: #6b7280; margin-top: 3px; }\n    .header-badge { background: #de2315; color: white; font-size: 11px; font-weight: 700; letter-spacing: 1px; text-transform: uppercase; padding: 4px 12px; border-radius: 20px; white-space: nowrap; margin-top: 2px; }\n    .stats { display: grid; grid-template-columns: repeat(3, 1fr); gap: 12px; margin-bottom: 24px; }\n    .stat { background: white; border: 1px solid #e5e7eb; border-radius: 10px; padding: 20px; }\n    .stat .num { font-size: 34px; font-weight: 800; color: #de2315; line-height: 1; }\n    .stat .label { font-size: 11px; color: #9ca3af; margin-top: 5px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.6px; }\n    .card { background: white; border: 1px solid #e5e7eb; border-radius: 10px; padding: 26px 28px; margin-bottom: 14px; }\n    .card-label { font-size: 10px; font-weight: 700; color: #de2315; text-transform: uppercase; letter-spacing: 1.8px; margin-bottom: 14px; padding-bottom: 10px; border-bottom: 1px solid #f3f4f6; }\n    .analisis { font-size: 15px; line-height: 1.8; color: #374151; }\n    .analisis p { margin-bottom: 14px; }\n    .analisis p:last-child { margin-bottom: 0; }\n    .analisis strong { color: #1a1a2e; font-weight: 700; }\n    .analisis ul { padding-left: 22px; margin: 10px 0 14px; }\n    .analisis li { margin-bottom: 7px; }\n    .footer { text-align: center; margin-top: 36px; font-size: 12px; color: #d1d5db; }\n    .footer b { color: #de2315; font-weight: 700; }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n    <div class=\"header\">\n      <div class=\"header-left\">\n        <h1>Informe de la encuesta</h1>\n        <div class=\"subtitle\">Taller de automatización con IA · {{ $now.setZone('Europe/Madrid').toFormat('dd/MM/yyyy') }}</div>\n      </div>\n      <div class=\"header-badge\">En tiempo real</div>\n    </div>\n    <div class=\"stats\">\n      <div class=\"stat\">\n        <div class=\"num\">{{ $('Formatear para OpenAI').item.json.total }}</div>\n        <div class=\"label\">Participantes</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"num\">{{ $now.setZone('Europe/Madrid').toFormat('HH:mm') }}</div>\n        <div class=\"label\">Hora de generación</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"num\">{{ $now.setZone('Europe/Madrid').toFormat('dd/MM') }}</div>\n        <div class=\"label\">Fecha</div>\n      </div>\n    </div>\n    <div class=\"card\">\n      <div class=\"card-label\">Análisis · generado por IA</div>\n      <div class=\"analisis\">{{ $json.text }}</div>\n    </div>\n    <div class=\"footer\">Generado automáticamente · <b>Gako AI</b> · n8n + OpenRouter</div>\n  </div>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f47c1a51-bb6d-470b-b698-648e2655d942",
      "name": "Construir HTML del Informe",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_informe }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "f374e22c-8554-48c2-8b7b-1943e59e84b1",
      "name": "Servir Informe HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": " const texto = items[0].json.text;                                                                                                                                     \n                                                                                     \n  const html = texto\n    // Títulos con **texto:**\n    .replace(/\\*\\*(.+?):\\*\\*/g, '<strong>$1:</strong>')\n    // Negrita **texto**\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    // Saltos de línea dobles → párrafos\n    .replace(/\\n\\n/g, '</p><p>')\n    // Listas con guión\n    .replace(/^- (.+)$/gm, '<li>$1</li>')\n    // Envolver listas en <ul>\n    .replace(/(<li>.*<\\/li>)/gs, '<ul>$1</ul>')\n    // Saltos de línea simples\n    .replace(/\\n/g, '<br>');\n\n  return [{ json: { ...items[0].json, text: '<p>' + html + '</p>' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "6373e5c8-9e0d-42be-82df-893095011e44",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst now = new Date();\nconst lastRun = staticData.generadoEn ? new Date(staticData.generadoEn) : null;\nif (!lastRun || (now - lastRun) >= 120000) {\n  staticData.html = $input.first().json.html_informe;\n  staticData.generadoEn = now.toISOString();\n}\nreturn $input.all();"
      },
      "id": "cache-001",
      "name": "Guardar en Caché",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ]
    },
    {
      "parameters": {
        "path": "ver-informe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cache-002",
      "name": "Ver Informe (Caché)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        240
      ],
      "webhookId": "ver-informe-001"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst html = staticData.html || '<h2 style=\"font-family:sans-serif;text-align:center;padding:60px\">El informe aún no ha sido generado. Vuelve en unos minutos.</h2>';\nreturn [{ json: { html } }];"
      },
      "id": "cache-003",
      "name": "Leer Caché",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "cache-004",
      "name": "Servir Caché HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -32,
        240
      ]
    }
  ],
  "connections": {
    "Trigger: Generar Informe": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Agregar Todas las Respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Todas las Respuestas": {
      "main": [
        [
          {
            "node": "Formatear para OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear para OpenAI": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Construir HTML del Informe": {
      "main": [
        [
          {
            "node": "Guardar en Caché",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Construir HTML del Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Caché": {
      "main": [
        [
          {
            "node": "Servir Informe HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver Informe (Caché)": {
      "main": [
        [
          {
            "node": "Leer Caché",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Caché": {
      "main": [
        [
          {
            "node": "Servir Caché HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}