web/02-generar-informe.json
{
  "name": "02 - Generar Informe HTML desde Encuesta",
  "nodes": [
    {
      "parameters": {
        "path": "generar-informe",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5bb228c0-9f9d-4009-959a-b90ee015daa6",
      "name": "Trigger: Generar Informe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-544, -64],
      "webhookId": "generar-informe-001"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-560, 160],
      "id": "a3fb7a01-38e1-443c-9a0c-b8b4fef8d716",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZOWnwkFtaofz8fUN",
          "mode": "list",
          "cachedResultName": "respuestas_taller",
          "cachedResultUrl": "/projects/sgB1GWGyptbkdYb2/datatables/ZOWnwkFtaofz8fUN"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [-304, -64],
      "id": "137323f1-d686-4ca5-a6e6-94fe821e9236",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "respuestas",
        "options": {}
      },
      "id": "4fe2d3ab-0af4-4946-bde5-97b6d962f571",
      "name": "Agregar Todas las Respuestas",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-96, -64]
    },
    {
      "parameters": {
        "jsCode": "const respuestas = items[0].json.respuestas;\nconst total = respuestas.length;\n\nif (total === 0) {\n  return [{ json: { texto_para_ia: 'No hay respuestas todavia.', total: 0 } }];\n}\n\nconst sectores = {};\nconst roles = {};\nconst experiencias = {};\nconst procesos = [];\n\nrespuestas.forEach(r => {\n  sectores[r.sector] = (sectores[r.sector] || 0) + 1;\n  roles[r.rol] = (roles[r.rol] || 0) + 1;\n  experiencias[r.experiencia_ia] = (experiencias[r.experiencia_ia] || 0) + 1;\n  if (r.proceso_a_automatizar && r.proceso_a_automatizar !== 'No especificado') {\n    procesos.push(`- ${r.nombre} (${r.rol}): \"${r.proceso_a_automatizar}\"`);\n  }\n});\n\nconst formatearConteos = (obj) =>\n  Object.entries(obj)\n    .sort((a, b) => b[1] - a[1])\n    .map(([k, v]) => `  - ${k}: ${v} persona(s)`)\n    .join('\\n');\n\nconst textoParaIA = `Eres un analista de datos experto. Analiza los resultados de esta encuesta de un taller de IA y n8n y genera un informe ejecutivo en español que:\n1. Destaque los hallazgos mas relevantes del grupo\n2. Identifique patrones en los perfiles de los asistentes\n3. Agrupe y comente los procesos que quieren automatizar\n4. De 2-3 recomendaciones concretas sobre en que hacer enfasis durante el taller\nUsa un tono profesional pero cercano. Maximo 400 palabras.\n\nDATOS DE LA ENCUESTA:\nTotal de participantes: ${total}\n\nSECTORES REPRESENTADOS:\n${formatearConteos(sectores)}\n\nROLES:\n${formatearConteos(roles)}\n\nEXPERIENCIA CON IA:\n${formatearConteos(experiencias)}\n\nPROCESOS QUE LES GUSTARIA AUTOMATIZAR:\n${procesos.length > 0 ? procesos.join('\\n') : '  (nadie respondio esta pregunta)'}\n`;\n\nreturn [{ json: { texto_para_ia: textoParaIA, total } }];"
      },
      "id": "8ce90bc8-67e9-4ccc-ad5a-b8919e566611",
      "name": "Formatear para OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [128, -64]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto_para_ia }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [272, -64],
      "id": "eba33db0-a5ae-4e89-a8c8-ab9f9e9a19b1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [272, 144],
      "id": "82dfc98d-55bf-4f08-8235-59429a7c98b4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kVqAzWbBaqS3z3Cy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h001",
              "name": "html_informe",
              "value": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Informe del Taller</title>\n  <style>\n    body { font-family: 'Segoe UI', sans-serif; max-width: 800px; margin: 40px auto; padding: 20px; color: #1a1a2e; }\n    h1 { color: #de2315; border-bottom: 3px solid #de2315; padding-bottom: 10px; }\n    h2 { color: #0f3460; margin-top: 30px; }\n    .stats { display: flex; gap: 20px; margin: 20px 0; }\n    .stat-box { background: #f0f4ff; border-left: 4px solid #de2315; padding: 15px 20px; border-radius: 6px; flex: 1; }\n    .stat-box .numero { font-size: 36px; font-weight: bold; color: #de2315; }\n    .stat-box .label { color: #666; font-size: 14px; }\n    .analisis { background: #fafafa; border: 1px solid #eee; padding: 20px; border-radius: 8px; line-height: 1.7; white-space: pre-wrap; }\n    .footer { margin-top: 40px; color: #aaa; font-size: 13px; text-align: center; }\n  </style>\n</head>\n<body>\n  <h1>Informe del Taller — Generado en tiempo real por n8n + IA</h1>\n  <div class=\"stats\">\n    <div class=\"stat-box\">\n      <div class=\"numero\">{{ $('Formatear para OpenAI').item.json.total }}</div>\n      <div class=\"label\">Participantes</div>\n    </div>\n    <div class=\"stat-box\">\n      <div class=\"numero\">{{ $now.toFormat('HH:mm') }}</div>\n      <div class=\"label\">Hora de generacion</div>\n    </div>\n    <div class=\"stat-box\">\n      <div class=\"numero\">{{ $now.toFormat('dd/MM/yyyy') }}</div>\n      <div class=\"label\">Fecha</div>\n    </div>\n  </div>\n  <h2>Analisis de la IA</h2>\n  <div class=\"analisis\">{{ $json.text }}</div>\n  <div class=\"footer\">Generado automaticamente por n8n + OpenRouter · Taller de Automatizacion con IA · Gako AI</div>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cccdc73a-9f71-425d-b201-2b75d3d6cb2b",
      "name": "Construir HTML del Informe",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, -64]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_informe }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "f00d3b7a-4b22-43dd-8f6e-2655f4d6cf14",
      "name": "Servir Informe HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [784, -64]
    }
  ],
  "connections": {
    "Trigger: Generar Informe": {
      "main": [[{ "node": "Get row(s)", "type": "main", "index": 0 }]]
    },
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Get row(s)", "type": "main", "index": 0 }]]
    },
    "Get row(s)": {
      "main": [[{ "node": "Agregar Todas las Respuestas", "type": "main", "index": 0 }]]
    },
    "Agregar Todas las Respuestas": {
      "main": [[{ "node": "Formatear para OpenAI", "type": "main", "index": 0 }]]
    },
    "Formatear para OpenAI": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Construir HTML del Informe", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Construir HTML del Informe": {
      "main": [[{ "node": "Servir Informe HTML", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27ac13f192f5d9c17d7476e0635254356594500f4af854f919d8c0494a777c41"
  }
}
