web/03-agente-wikipedia.json
{
  "name": "03 - Agente IA con Wikipedia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-wiki",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000001",
      "name": "Recibir Pregunta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        192,
        128
      ],
      "webhookId": "agente-wiki-001",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body?.pregunta || $json.message?.text }}",
        "options": {
          "systemMessage": "Eres un asistente util e inteligente. Respondes siempre en espanol, de forma clara y concisa. Cuando necesitas informacion factual sobre personas, lugares, eventos o conceptos, usas la herramienta de Wikipedia para buscarla. No inventes datos — si no lo sabes, busca en Wikipedia o di que no tienes esa informacion.",
          "maxIterations": 5
        }
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000002",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body?.sesion_id || $json.message?.chat?.id?.toString() || 'default' }}",
        "contextWindowLength": 10
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000004",
      "name": "Memoria de Conversacion",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        528
      ]
    },
    {
      "parameters": {},
      "id": "e5f6a7b8-0005-0001-0001-000000000005",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        720,
        528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r001",
              "name": "respuesta",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000006",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e5f6a7b8-0005-0001-0001-000000000007",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1088,
        96
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        528
      ],
      "id": "563ee587-fef6-49ac-bcfd-a3ff3d751147",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kVqAzWbBaqS3z3Cy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        432
      ],
      "id": "91144cec-e413-44cd-a0e9-f73701da68a6",
      "name": "Telegram Trigger",
      "webhookId": "8fb5367a-8fb9-4ff9-b536-7d405ac77b99",
      "credentials": {
        "telegramApi": {
          "id": "tEDfPLXup4X7cL0c",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Formatear Respuesta').item.json.respuesta }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        400
      ],
      "id": "fb337f10-5eb6-4d90-8e40-a792fc524aaf",
      "name": "Send a text message",
      "webhookId": "15e54052-ae26-4ed0-9243-93bd15753acb",
      "credentials": {
        "telegramApi": {
          "id": "tEDfPLXup4X7cL0c",
          "name": "Telegram account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Recibir Pregunta": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria de Conversacion": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Responder": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}